@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.solar-system {
  height: 100vh;
  width: 100vw;
  background: url('../../assets/SolarSystem/galaxy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.solar-system-container {
  position: absolute;
  left: 41%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 1000px;
  overflow: hidden;
}

.celestial {
  border-radius: 50%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.orbits {
  opacity: 0.4;
  border: solid white 1px;
  background: transparent;
  z-index: 0;
}

.planet {
  z-index: 1;
}

#sun {
  height: 10vmin;
  width: 10vmin;
}
#mercury {
  height: 2vmin;
  width: 2vmin;
}
#venus {
  height: 3vmin;
  width: 3vmin;
}
#earth {
  height: 4vmin;
  width: 4vmin;
}
#mars {
  height: 3.5vmin;
  width: 3.5vmin;
}
#jupiter {
  height: 8vmin;
  width: 8vmin;
}
#saturn {
  height: 6vmin;
  width: 12vmin;
  border-radius: 0%;
}
#uranus {
  height: 6vmin;
  width: 6vmin;
}
#neptune {
  height: 5vmin;
  width: 5vmin;
}

@keyframes orbit {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes unorbit {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.text-box {
  position: absolute;
  width: 330px;
  height: 500px;
  overflow: hidden;
  position: relative;
  background: #0e374b;
  clip-path: polygon(
    0 3%,
    86% 3%,
    95% 12%,
    95% 90%,
    87% 95%,
    45% 95%,
    22% 80%,
    5% 80%,
    0 77%
  );
}

.text-box-container {
  position: absolute;
  width: 330px;
  height: 500px;
  top: -100%;
  overflow: hidden;
  position: relative;
  background: #3ccaf6;
  opacity: 0.8;
  clip-path: polygon(
    0 3%,
    5% 0,
    40% 0,
    45% 3%,
    85% 3%,
    95% 12%,
    95% 45%,
    100% 50%,
    100% 80%,
    95% 85%,
    95% 90%,
    87% 95%,
    45% 95%,
    25% 82%,
    15% 82%,
    10% 80%,
    5% 80%,
    0 77%
  );
}

.text-box-title-container {
  position: absolute;
  left: 8%;
  top: -18%;
  width: 250px;
  height: 50px;
  clip-path: polygon(
    0 0,
    25% 0,
    30% 15%,
    100% 15%,
    100% 55%,
    90% 100%,
    0% 100%
  );
  background: #3ccaf6;
  opacity: 0.8;
}

.text-box-title {
  clip-path: polygon(0 15%, 100% 15%, 100% 55%, 90% 100%, 0% 100%);
  position: absolute;
  width: 250px;
  height: 50px;
  background: #0e374b;
  display: flex;
  align-items: center;
}

.dialog-wrapper {
  position: absolute;
  top: 10%;
  transform: translateX(-120%);
}

.dialog-text {
  font-family: 'VT323', monospace;
  font-size: 16px;
  color: #ebb55f;
}

.text-box-ref::after {
  content: '';
  position: absolute;
  border-top: white 1px solid;
  width: 25px;
  height: 25px;
  left: 2.7%;
  top: -2.6%;
  transform: rotate(45deg);
}

.text-box-ref::before {
  content: '';
  position: absolute;
  border-top: white 1px solid;
  width: 35px;
  height: 35px;
  left: -4.1%;
  top: -10.6%;
  transform: rotate(90deg);
}

.planet-names {
  position: absolute;
  right: 10%;
  top: 25%;
  z-index: 2;
}
.planet-title {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  width: 100%;
  font-size: 40px;
}

.transmission {
  font-size: 14px;
  height: 0px;
  color: white;
  margin-left: 12px;
}

.planet-description {
  width: 90%;
  margin-left: 5px;
}

.planet-list-name {
  text-transform: capitalize;
  margin-top: 20px;
  font-size: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
/* Media queries */
@media (max-width: 1200px) {
  .solar-system-container {
    width: 800px;
    height: 800px;
    left: 50%;
    top: 63%;
  }
  .planet-names {
    position: static;
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    z-index: 999;
  }

  .text-box {
    clip-path: none;
    background-color: transparent;
    border: none;
  }
  .text-box-container {
    width: 500px;
    height: 300px;
    clip-path: polygon(
      50% 3.5%,
      53% 0,
      85% 0,
      88% 3.5%,
      97% 3.5%,
      97% 50%,
      99% 53%,
      99% 80%,
      85% 100%,
      53% 100%,
      50% 97%,
      5% 97%,
      2% 93%,
      2% 85%,
      2% 35%,
      2% 30%,
      10% 30%,
      15% 25%,
      25% 25%,
      45% 3.5%
    );
  }

  .text-box {
    background: #0e374b;
    width: 500px;
    height: 300px;
    clip-path: polygon(
      50% 3.5%,
      97% 3.5%,
      97% 78.7%,
      84% 97%,
      5% 97%,
      2% 95%,
      2% 30%,
      10% 30%,
      20% 30%,
      45% 3.5%
    );
  }

  .transmission {
    font-size: 14px;
    height: 0px;
    color: white;
    margin-left: 290px;
    line-height: 10px;
  }

  .planet-info {
    margin-top: -5px;
  }

  .planet-description {
    width: 90%;
    margin-left: 20px;
  }

  .planet-mass {
    margin-left: 210px;
  }
  .planet-days {
    margin-left: 185px;
  }
  .planet-years {
    margin-left: 160px;
  }
  .planet-kilometers {
    margin-left: 135px;
  }
  .planet-au {
    margin-left: 110px;
  }

  .dialog-wrapper {
    top: 10%;
    left: 105%;
  }

  .text-box-ref::after {
    content: none;
  }

  .text-box-ref::before {
    content: none;
  }

  .text-box-title-container {
    left: -10%;
    top: -5%;
  }
}

@media (max-width: 700px) {
  .solar-system-container {
    width: 400px;
    height: 400px;
    top: 70%;
  }
  .planet-names {
    gap: 10px;
  }

  .dialog-wrapper {
    transform: translateX(-115%);
  }

  .text-box-container {
    width: 420px;
    height: 260px;
  }
  .text-box {
    width: 420px;
    height: 260px;
  }

  .planet-description {
    width: 90%;
    margin-left: 15px;
  }

  .planet-mass {
    margin-left: 170px;
  }
  .planet-days {
    margin-left: 150px;
  }
  .planet-years {
    margin-left: 130px;
  }
  .planet-kilometers {
    margin-left: 110px;
  }
  .planet-au {
    margin-left: 90px;
  }

  .text-box-title-container {
    width: 150px;
    height: 35px;
  }
  .text-box-title {
    width: 150px;
    height: 35px;
  }

  .dialog-text {
    font-size: 14px;
  }

  .planet-list-name {
    font-size: 22px;
  }
  .planet-title {
    font-size: 28px;
  }

  .planet-long-description {
    margin-top: -5px;
  }
  .transmission {
    font-size: 12px;
    line-height: 8px;
    margin-left: 240px;
  }
}

@media (max-width: 500px) {
  .solar-system-container {
    width: 300px;
    height: 300px;
    top: 75%;
  }
  .planet-names {
    gap: 4px;
  }

  .dialog-wrapper {
    transform: translateX(-100%);
  }

  .text-box-container {
    width: 300px;
    height: 195px;
  }

  .text-box {
    width: 300px;
    height: 195px;
  }
  .planet-description {
    width: 90%;
    margin-left: 8px;
  }

  .planet-info {
    margin-left: 10px;
    width: 100%;
  }

  .planet-mass {
    margin-left: 115px;
  }
  .planet-days {
    margin-left: 99px;
  }
  .planet-years {
    margin-left: 84px;
  }
  .planet-kilometers {
    margin-left: 69px;
  }
  .planet-au {
    margin-left: 55px;
  }

  .text-box-title-container {
    left: 2%;
    top: 1%;
    width: 100px;
    height: 20px;
  }
  .text-box-title {
    width: 100px;
    height: 20px;
  }
  .planet-title {
    font-size: 22px;
  }

  .dialog-text {
    font-size: 11px;
  }

  .planet-list-name {
    font-size: 13px;
  }

  .transmission {
    font-size: 10px;
    line-height: 6px;
    margin-left: 160px;
  }
}

@media (max-height: 600px) {
  .solar-system-container {
    width: 400px;
    height: 400px;
    left: 30%;
    top: 65%;
  }
  .dialog-wrapper {
    top: 25%;
    left: 110%;
  }
}

@media (max-height: 400px) {
  .solar-system-container {
    width: 300px;
    height: 300px;
    left: 30%;
    top: 70%;
  }
  .dialog-wrapper {
    top: 18%;
    left: 110%;
  }
}
