@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
  --figure-floating-parent: polygon(
    0 0,
    25% 0,
    30% 15%,
    100% 15%,
    100% 55%,
    90% 100%,
    0% 100%
  );
  --figure-floating: polygon(0 15%, 100% 15%, 100% 55%, 90% 100%, 0% 100%);

  --figure-long-parent: polygon(
    0 3%,
    5% 0,
    40% 0,
    45% 3%,
    85% 3%,
    95% 12%,
    95% 45%,
    100% 50%,
    100% 80%,
    95% 85%,
    95% 90%,
    87% 95%,
    45% 95%,
    25% 82%,
    15% 82%,
    10% 80%,
    5% 80%,
    0 77%
  );

  --figure-long: polygon(
    0 3%,
    86% 3%,
    95% 12%,
    95% 90%,
    87% 95%,
    45% 95%,
    22% 80%,
    5% 80%,
    0 77%
  );

  --figure-wide-parent: polygon(
    50% 3.5%,
    53% 0,
    85% 0,
    88% 3.5%,
    97% 3.5%,
    97% 50%,
    99% 53%,
    99% 80%,
    85% 100%,
    53% 100%,
    50% 97%,
    5% 97%,
    2% 93%,
    2% 85%,
    2% 35%,
    2% 30%,
    10% 30%,
    15% 25%,
    25% 25%,
    45% 3.5%
  );

  --figure-wide: polygon(
    50% 3.5%,
    97% 3.5%,
    97% 78.7%,
    84% 97%,
    5% 97%,
    2% 95%,
    2% 30%,
    10% 30%,
    20% 30%,
    45% 3.5%
  );
}
.solar-system {
  height: 100vh;
  width: 100vw;
  background: url('../../assets/SolarSystem/galaxy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.dialog-text {
  font-family: 'VT323', monospace;
  font-size: 16px;
  color: #ebb55f;
}

/* solar system with orbits and celestials */

.solar-system__container {
  position: absolute;
  left: 41%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  height: 1200px;
  overflow: hidden;
}

.celestial {
  border-radius: 50%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.orbits {
  opacity: 0.4;
  border: solid white 1px;
  background: transparent;
  z-index: 0;
}

.planet {
  z-index: 1;
}

#sun {
  height: 8vmin;
  width: 8vmin;
}
#mercury {
  height: 1vmin;
  width: 1vmin;
}
#venus {
  height: 2vmin;
  width: 2vmin;
}
#earth {
  height: 2.1vmin;
  width: 2.1vmin;
}
#mars {
  height: 1.1vmin;
  width: 1.1vmin;
}
#jupiter {
  height: 4.5vmin;
  width: 4.5vmin;
}
#saturn {
  height: 4vmin;
  width: 8vmin;
  border-radius: 0%;
}
#uranus {
  height: 4vmin;
  width: 4vmin;
}
#neptune {
  height: 3vmin;
  width: 3vmin;
}

/* Keyframes */

@keyframes orbit {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes unorbit {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/* modal  */

.text-box {
  position: absolute;
  width: 330px;
  height: 500px;
  overflow: hidden;
  position: relative;
  background: #0e374b;
  clip-path: var(--figure-long);
}

.text-box__container {
  position: absolute;
  width: 330px;
  height: 500px;
  top: -100%;
  overflow: hidden;
  position: relative;
  background: #3ccaf6;
  opacity: 0.8;
  clip-path: var(--figure-long-parent);
}

.text-box__title-container {
  position: absolute;
  left: 8%;
  top: -18%;
  width: 250px;
  height: 50px;
  clip-path: var(--figure-floating-parent);
  background: #3ccaf6;
  opacity: 0.8;
}

.text-box__title {
  clip-path: var(--figure-floating);
  font-size: 40px;
  position: absolute;
  width: 250px;
  height: 50px;
  background: #0e374b;
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  align-items: center;
}

.dialog-wrapper {
  position: absolute;
  top: 10%;
  transform: translateX(-120%);
}

.text-box-ref::after {
  content: '';
  position: absolute;
  border-top: white 1px solid;
  width: 25px;
  height: 25px;
  left: 2.7%;
  top: -2.6%;
  transform: rotate(45deg);
}

.text-box-ref::before {
  content: '';
  position: absolute;
  border-top: white 1px solid;
  width: 35px;
  height: 35px;
  left: -4.1%;
  top: -10.6%;
  transform: rotate(90deg);
}

/* Modal content styles */

.transmission {
  font-size: 14px;
  height: 0px;
  color: white;
  margin-left: 12px;
}

.planet-names {
  position: absolute;
  right: 10%;
  top: 25%;
  z-index: 2;
}
.planet-title {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  width: 100%;
  font-size: 40px;
}
.planet-description {
  width: 90%;
  margin-left: 5px;
}

.planet-list-name {
  text-transform: capitalize;
  margin-top: 20px;
  font-size: 30px;
  cursor: pointer;
}

/* Media queries */

/* Media queries for width */
@media (max-width: 1200px) {
  .solar-system {
    overflow: scroll;
  }
  .solar-system__container {
    left: 50%;
    top: 63%;
  }
  .planet-names {
    position: static;
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: -20px;
  }

  .text-box {
    clip-path: none;
    background-color: transparent;
    border: none;
  }
  .text-box__container {
    width: 500px;
    height: 300px;
    clip-path: var(--figure-wide-parent);
  }

  .text-box {
    background: #0e374b;
    width: 500px;
    height: 300px;
    clip-path: var(--figure-wide);
  }

  .transmission {
    font-size: 14px;
    height: 0px;
    color: white;
    margin-left: 290px;
    line-height: 10px;
  }

  .planet-info {
    margin-top: -5px;
  }

  .planet-description {
    width: 90%;
    margin-left: 20px;
  }

  .planet-mass {
    margin-left: 210px;
  }
  .planet-days {
    margin-left: 185px;
  }
  .planet-years {
    margin-left: 160px;
  }
  .planet-kilometers {
    margin-left: 135px;
  }
  .planet-au {
    margin-left: 110px;
  }

  .dialog-wrapper {
    top: 10%;
    left: 105%;
  }

  .text-box-ref::after {
    content: none;
  }

  .text-box-ref::before {
    content: none;
  }

  .text-box__title-container {
    left: -10%;
    top: -5%;
  }
}

@media (max-width: 1000px) {
  .solar-system__container {
    width: 1000px;
    height: 1000px;
    left: 50%;
    top: 63%;
  }
}

@media (max-width: 800px) {
  .solar-system__container {
    width: 800px;
    height: 800px;
    top: 70%;
  }
  .planet-list-name {
    font-size: 18px;
  }
  .text-box__container {
    clip-path: var(--figure-long-parent);
    height: 500px;
    width: 330px;
  }

  .text-box {
    clip-path: var(--figure-long);
    height: 500px;
    width: 330px;
  }

  .transmission {
    margin-left: 8px;
    font-size: 9px;
    line-height: 12px;
  }
  .text-box-ref::after {
    content: '';
  }
  .text-box-ref::before {
    content: '';
  }

  .text-box__title-container {
    left: 8%;
    top: -15%;
  }

  .dialog-wrapper {
    left: 80%;
    top: 15%;
  }
  .planet-au,
  .planet-days,
  .planet-years,
  .planet-description,
  .planet-info,
  .planet-kilometers,
  .planet-mass {
    margin-top: 1px;
    margin-left: 2px;
  }
  .planet-long-description {
    margin-left: 4px;
  }
}

@media (max-width: 600px) {
  .dialog-wrapper {
    left: 80%;
  }

  .text-box-ref::after {
    top: -3.5%;
  }
  .text-box-ref::before {
    left: -8.1%;
    top: -14.3%;
  }
  .text-box__container {
    height: 370px;
    width: 210px;
  }

  .text-box {
    height: 370px;
    width: 210px;
  }

  .text-box__title-container {
    width: 150px;
    height: 30px;
    left: 11%;
    top: -20%;
  }

  .text-box__title {
    width: 150px;
    height: 30px;
    font-size: 16px;
  }

  .planet-description {
    font-size: 11px;
  }
}

@media (max-width: 500px) {
  .dialog-wrapper {
    left: 90%;
  }

  .planet-list-name {
    font-size: 16px;
  }
}
@media (max-width: 450px) {
  .planet-list-name {
    font-size: 10px;
  }
  .planet-names {
    gap: 5px;
  }
  .dialog-wrapper {
    left: 100%;
  }

  .planet-list-name {
    font-size: 14px;
  }
}

/* Media queries for height */

@media (max-height: 1000px) {
  .solar-system__container {
    width: 1000px;
    height: 1000px;
  }
}
@media (max-height: 900px) {
  .solar-system__container {
    width: 900px;
    height: 900px;
  }
}
@media (max-height: 800px) {
  .solar-system__container {
    width: 800px;
    height: 800px;
  }
}
@media (max-height: 700px) {
  .solar-system__container {
    width: 700px;
    height: 700px;
  }
}

@media (max-height: 600px) {
  .solar-system__container {
    width: 600px;
    height: 600px;
  }

  .dialog-wrapper {
    top: 20%;
  }
}

@media (max-height: 500px) {
  .text-box__container {
    width: 400px;
    height: 235px;
    clip-path: var(--figure-wide-parent);
  }
  .planet-long-description {
    margin-left: 10px;
  }
  .text-box-ref::after {
    content: none;
  }
  .text-box-ref::before {
    content: none;
  }
  .text-box {
    background: #0e374b;
    width: 400px;
    height: 235px;
    clip-path: var(--figure-wide);
  }
  .text-box__title-container {
    width: 150px;
    height: 40px;
    left: -1%;
    top: -1.5%;
  }
  .text-box__title {
    width: 150px;
    height: 40px;

    font-size: 34px;
  }

  .transmission {
    font-size: 13px;
    height: 0px;
    color: white;
    margin-left: 220px;
    line-height: 10px;
  }

  .solar-system__container {
    width: 450px;
    height: 450px;
    left: 25%;
    top: 70%;
  }

  .planet-description {
    margin-top: 2px;
    font-size: 12px;
  }

  .planet-mass {
    margin-left: 160px;
  }
  .planet-days {
    margin-left: 140px;
  }
  .planet-years {
    margin-left: 120px;
  }
  .planet-kilometers {
    margin-left: 100px;
  }
  .planet-au {
    margin-left: 85px;
  }
}

@media (max-height: 400px) {
  .solar-system__container {
    width: 400px;
    height: 400px;
    left: 30%;
    top: 70%;
  }

  .dialog-wrapper {
    top: 18%;
    left: 110%;
  }
}

@media (max-height: 300px) {
  .solar-system__container {
    width: 300px;
    height: 300px;
    top: 60%;
    left: 25%;
  }
}
