:root {
  --transition: 0.25s;
  --spark: 2s;
  --hue: 245;
  --active: 0;
}

button {
  --bg: radial-gradient(
        100% 100% at calc(220% - var(--active) * 100%)
          calc(220% - var(--active) * 100%),
        white 35%,
        transparent 60%
      )
      calc(100px - var(--active) * 100px) no-repeat,
    radial-gradient(140% 140% at 135% 135%, #5954e3 45%, transparent 70%)
      calc(100px - var(--active) * 100px) no-repeat,
    hsl(var(--hue) 100% calc(4% * var(--active) + 2%));

  box-shadow: 0 0 calc(var(--active) * 6rem) calc(3rem * var(--active))
      hsl(var(--hue) 100% 30% / 0.5),
    0 0.1rem 0 0 gray inset;
  background: var(--bg);
  scale: calc(var(--active) * 0.1 + 1);
  position: relative;
  font-size: 2rem;
  font-weight: 500;
  border: 0;
  cursor: pointer;
  padding: 0.9em 1.3em;
  display: flex;
  align-items: center;
  border-radius: 2rem;
  z-index: 999;
  transition: var(--transition);
}

button:is(:hover) {
  --active: 1;
}

@keyframes rotate {
  from {
    transform: rotate(-55deg);
  }
  to {
    transform: rotate(55deg);
  }
}

@keyframes flip {
  to {
    transform: rotate(360deg);
  }
}

.spark {
  inset: 0;
  position: absolute;
  animation: flip 4s infinite steps(2, end);
  overflow: hidden;
  border-radius: 2rem;
}

.spark::after {
  content: '';
  position: absolute;
  background-image: conic-gradient(
    transparent 0deg,
    transparent 340deg,
    white 360deg
  );
  translate: -50% 8%;
  width: 200px;
  height: 400px;
  animation: rotate linear 2s infinite;
  opacity: calc(var(--active) + 0.5);
  z-index: -1;
}

.backdrop {
  position: absolute;
  background: var(--bg);
  inset: 0.2rem;
  border-radius: 2rem;
  transition: var(--transition);
}
